*{
    padding: 0%;
    margin: 0%;
}
header {
    background-color: #e9d3d2;
    text-align: center; 
    padding-bottom: 2%;
}
img{
    width: 8%;
    border-radius: 15%;
    margin-top: 2%;
    border: 2px solid white;
}
button{
    display: inline;
    font-size: 18px;
    margin: 1%;
    padding: 0.5% ;
    background-color: #dfafac;
    border-radius: 20px;
    border: 1px solid;
    margin-top: 2%;
}
.botao{
    text-align: center;
}
a{
    color: black;
    text-decoration: none;
}
a:hover{
    color: #674789;
}
a:active{
    color: #674789;
    text-decoration:underline ;
}
.sobremim{
    max-width: 80%;
    text-align: justify ;
    font-size: 17px;
    margin-left: 8%;
}
.foto-um{
    width: 18%;
    border-radius: 10%;
    position: relative;
    float: right;
    right: 0px;
    margin-left: 2%;
    border: 1px solid;    
}
.meushobbies{
    max-width: 80%;
    text-align: justify ;
    font-size: 17px;
    margin-left: 4%;
    margin-top: 3%;

}
.foto-dois{
    width: 18%;
    border-radius: 10%;
    position: relative;
    float: left;
    right: 0px;
    margin-left: 6%;
    border: 1px solid; 
    margin-right: 2%;
}
body{
    background: linear-gradient(#e9c4c2, white);
    height: 100%;
    margin-bottom: 20%;
}
p{
    font-size: 18px;
}
@media (max-width: 720px){
body{
    height: 100%;
    margin: 5%;
}
.sobremim{
    margin-left: 8%;
}
.foto-um{
    width: 22%;
}
.meushobbies{
    margin-left: 8%;
}
.foto-dois{
    width: 22%;
}
img{
    width: 26%;
}
h1{
    font-size: 15px;
}
h2{
    font-size: 15px;
}
}
